In [14]:
import pandas as pd
import json
from pprint import pprint

In [44]:
file = 'samples.json'
with open(file) as jsonfile:
    data = json.load(jsonfile)

In [46]:
metadata = json.dumps(data['metadata'], indent=4)
# print(metadata)

In [47]:
df_meta = pd.read_json(metadata)
df_meta

       id              ethnicity gender   age         location bbtype  wfreq
0     940              Caucasian      F  24.0      Beaufort/NC      I    2.0
1     941  Caucasian/Midleastern      F  34.0       Chicago/IL      I    1.0
2     943              Caucasian      F  49.0         Omaha/NE      I    1.0
3     944               European      M  44.0      NewHaven/CT      I    1.0
4     945              Caucasian      F  48.0  Philidelphia/PA      I    1.0
..    ...                    ...    ...   ...              ...    ...    ...
148  1574              Caucasian      M  30.0               OK      I    7.0
149  1576              Caucasian      F  33.0               NC      I    0.0
150  1577              Caucasian      M  26.0               NC      I    0.0
151  1581        Asian(American)      F  22.0               NC      I    2.0
152  1601              Caucasian      F  22.0               NC      I    2.0

[153 rows x 7 columns]

In [49]:
df_meta['bbtype'].value_counts(dropna=False)

I          120
i           13
NaN         11
o            4
O            2
Both         2
Unknown      1
Name: bbtype, dtype: int64

In [50]:
df_meta['wfreq'].value_counts(dropna=False)

0.0    51
7.0    32
1.0    15
NaN    15
3.0    13
5.0    10
2.0     8
4.0     4
6.0     3
3.5     1
9.0     1
Name: wfreq, dtype: int64

In [51]:
df_meta['gender'].value_counts(dropna=False)

F      87
M      54
f       6
m       5
NaN     1
Name: gender, dtype: int64